[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

django = "*"
pytz = "==2017.2"
"psycopg2" = "*"
djangorestframework = "*"
"jinja2" = "*"
gunicorn = "*"
"dj-database-url" = "*"
whitenoise = "*"
"django-oauth-toolkit" = "*"
"django-cors-middleware" = "*"


[dev-packages]