<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jaram study</title>
</head>
<body>
<style>
h1{
    border: 2px solid black;
}
</style>
<h1 style="text-align:center;""> 자람스터디 </h1>
<h2 style="text-align:center;""> [ list ] </h2>
<ul style="list-style-type:none">
  <li><a href="file:///Users/suna/Desktop/name1.html">name1</li>
  <li><a href="file:///Users/suna/Desktop/name1.html">name2</li>
  <li><a href="file:///Users/suna/Desktop/name1.html">name3</li>
</ul>

</body>
</html>
